style
{HOVER OVER IMAGE}

.ab:hover {
    position:left;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
.ab:hover {
    position:right;
    top:-25px;
    left:-35px;
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}


{ELEMENT WITHIN AN ELEMENT}

<div
	class="tree">


	<a href="https://www.instagram.com/abceramicss/">
	<img src="img/pak.jpg"  class="ab" alt=""><br/>
	</a>
</div

{Style more than one element/style a particular type of element}
